h1{
    padding-left: 22px;
}
.container{
    display: flex;
    justify-content: center;
}
.post{
    background-color: cornsilk;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding-top: 0.1rem;
    margin-top: 20px;
    
}
.user{
    text-align: center;
    color: brown
    
}
.content{
    padding-left:1rem;
    padding-top: 10px;
}
.id{
    color: #212529;
    font-family: system-ui, "Segoe UI",;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 23px;
    margin-top: 6px;
}