*{
    margin: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: burlywood;
    height: 70px;
    width: 100%;
}
h1{
    padding-left: 22px;
}
.Quora{
    color: brown;
    display: inline;
}
.createBtn{
    margin-left: 50px;
    border-bottom-width: 2px;
    border-color: #212529;
}
.createBtn a{
    text-decoration: none;
    color: #212529;
    font-family: system-ui, "Segoe UI",;
    font-weight: 500;
    font-size: 1.9rem;
}
.createBtn a:hover{
    color: brown;
}
.createBtn a i{
    font-size: 1.5rem;
}
.btn{
    text-decoration: none;
    text-decoration: underline;
    color: #212529;
    font-family: system-ui, "Segoe UI",;
    font-weight: 500;
    font-size: 1.25rem;
    position: relative;
    top: 70px;
}
.btn:hover{
    color: brown;
}
.editBtn{
    right: 1rem;
}
.deleteBtn{
    right: 2rem;
}
.deleteForm{
    display: inline;
}





.container{
    display: flex;
    justify-content: center;
}
.post{
    background-color: cornsilk;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding-top: 0.1rem;
    margin-top: 20px;
    
}
.user{
    text-align: center;
    color: brown
    
}
.content{
    padding-left:1rem;
    padding-top: 10px;

}
footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(12, 11, 11);
    color: white;
}
