*{
    margin: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    height: 70px;
    width: 100%;
}
h1{
    padding-left: 22px;
}
.Quora{
    color: brown;
    display: inline;
}
.container{
    display: flex;
    justify-content: center;
}
.post{
    background-color: cornsilk;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding-top: 0.1rem;
    margin-top: 20px;
    
}
.user{
    text-align: center;
    color: brown
    
}
.content{
    padding-left:1rem;
    padding-top: 10px;

}
footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(12, 11, 11);
    color: white;
}
